<div ng-include="enrolledClase.layout.header"></div>

<div class="breadcrumb-header">
	<ol class="breadcrumb">
		<li><a href="/"><i class="fas fa-home"></i></a></li>
	  	<li><a href="#">Perfil: {{user.role}}</a></li>
	  	<li><a href="/misCursos">Mis Cursos</a></li>
	  	<li>{{catedra.title}}</li>
	  	<li class="active">{{clase.title}}</li>
	</ol>
	<div class="breadcrumb-title container-fluid">
		Bienvenid<span ng-show="user.gender">a</span><span ng-show="!user.gender">o</span>
		{{user.nombre | capitalizeEach}} {{user.lastName | capitalizeEach}}
	</div>
	<div class="breadcrumb-body container-fluid">
		{{user.email | lowercase}}
	</div>
</div>

<div class="container-fluid container-top container-bottom">

	<div class="cat-main-header text-center container-top container-bottom">
		<div class="col-md-8 text-left margin-top-minus">
			<div>
				<h2><strong>{{catedra.title}}</strong></h2>
			</div>
			<div>
				<strong>Categor&iacute;a: </strong>
				{{catedra.category}}
			</div>
			<div>
				<strong>Instructor: </strong>
				{{catedra.teacher}}
			</div>
		</div>
		<div class="col-md-4">
			<img ng-src="{{catedra.img}}" class="img-thumbnail cat-main-img">
		</div>
	</div>

	<div class="container-fluid container-bottom cat-main-body">
		<h3>{{clase.title}}</h3>
		<p>{{clase.description}}</p>
		<h4 class="container-top">Recursos de la Clase:</h4>

		<div ng-show="alerta.show" class="container container-top container-bottom">
			<div class="alert alert-danger">
				<strong>ERROR:</strong><br>
				{{alerta.message}}
			</div>	
		</div>

		<table class="table" ng-repeat="notificacion in notificaciones" ng-cloak>
			<tr>
				<td colspan="2" class="col-md-12 text-left">
					<strong>{{notificacion.title}}</strong>
				</td>
			</tr>
			<tr>
				<td class="col-md-9 text-left">
					<i>{{notificacion.description}}</i>
				</td>
				<td class="col-md-3 text-center" ng-show="notificacion.adjunto">
					<button type="button" class="btn btn-warning" ng-click="goToAttachedFile(notificacion.adjunto)">
						<i class="fas fa-paperclip"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>

</div>
<div class="col-md-12 spacer"></div>

<div class="footer-bottom" ng-include="enrolledClase.layout.footer"></div>