<footer class="footer" ng-controller="FooterCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
				<img alt="UNAB" class="footer-logo" src="images/logoAULA-footer.png">
				<div class="visible-xs-inline-block"></div>
			    <span>
			        Derechos de autor &copy; 2018 Pablo's, Inc.
			    </span>
            </div>
            <div class="col-sm-6 text-right">
                    
				<ul class=" list-inline">
				    <li><a href="https://www.unab.cl/">Universidad</a></li>
				    <li><a href="http://portal.unab.cl/">Portal UNAB</a></li>
				    <li><a href="http://www.google.cl">Google</a></li>
				</ul>

            </div>
        </div>
    </div>
    <hr class="hr-primary">
</footer>