<div ng-include="logout.layout.header"></div>

<div class="breadcrumb-header">
	<ol class="breadcrumb">
		<li><a href="/"><i class="fas fa-home"></i></a></li>
	  	<li><a href="#">Perfil: {{user.role}}</a></li>
	  	<li class="active">{{user.nombre | capitalize}} {{user.lastName | capitalize}}</li>
	</ol>
	<div class="breadcrumb-title container-fluid">
		Bienvenid<span ng-show="user.gender">a</span><span ng-show="!user.gender">o</span>
		{{user.nombre | capitalizeEach}} {{user.lastName | capitalizeEach}}
	</div>
	<div class="breadcrumb-body container-fluid">
		{{user.email | lowercase}} 
	</div>
</div>

<div class="container container-top container-bottom" id="alertBox">
	<div class="alert alert-info text-center">
		<i class="fas fa-sync fa-spin fa-2x"></i><br>
		Cerrando Sesi&oacute;n...
	</div>
</div>

<div class="footer-bottom" ng-include="logout.layout.footer"></div>