<div ng-include="register.layout.header"></div>

<div class="container container-top container-bottom" ng-controller="RegisterCtrl as ctrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Registrar Usuario</div>

                <div class="panel-body">

                    <div ng-if="register.error !== undefined" class="alert alert-danger" role="alert">
                        <strong>Error!</strong><div>{{register.error}}</div>
                    </div>

                    <div ng-if="register.success !== undefined" class="alert alert-success" role="alert">
                        Bienvenido: <strong>{{register.person}}</strong>
                    </div>
                    
                    <form class="form-horizontal" method="POST">

                        <div class="form-group">
                            <label for="nombre" class="col-md-4 control-label">Nombre :</label>
                            <div class="col-md-6">
                                <input id="nombre" 
                                       type="text" 
                                       class="form-control" 
                                       name="nombre" 
                                       placeholder="Ingrese su Nombre" 
                                       required 
                                       ng-model="register.nombre">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-md-4 control-label">Apellidos :</label>
                            <div class="col-md-6">
                                <input id="lastName" 
                                       type="text" 
                                       class="form-control" 
                                       name="lastName" 
                                       placeholder="Ingrese sus Apellidos" 
                                       required 
                                       ng-model="register.lastName">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email :</label>
                            <div class="col-md-6">
                                <input id="email" 
                                       type="email" 
                                       class="form-control" 
                                       name="email" 
                                       placeholder="Ingrese correo electr&oacute;nico" 
                                       required 
                                       ng-model="register.email">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email-confirmation" class="col-md-4 control-label">Confirme Email :</label>
                            <div class="col-md-6">
                                <input id="email-confirmation" 
                                       type="email" 
                                       class="form-control" 
                                       name="email-confirmation" 
                                       placeholder="Confirme correo electr&oacute;nico" 
                                       required 
                                       ng-model="register.email-confirmation">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Username :</label>
                            <div class="col-md-6">
                                <input id="username" 
                                       type="text" 
                                       class="form-control" 
                                       name="username" 
                                       placeholder="Ingrese nombre Usuario" 
                                       required 
                                       ng-model="register.username">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password :</label>
                            <div class="col-md-6">
                                <input id="password" 
                                       type="password" 
                                       class="form-control" 
                                       name="password" 
                                       placeholder="Ingrese Password" 
                                       required 
                                       ng-model="register.password">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirmation" class="col-md-4 control-label">Confirme Password :</label>
                            <div class="col-md-6">
                                <input id="password-confirmation" 
                                       type="password" 
                                       class="form-control" 
                                       name="password-confirmation" 
                                       placeholder="Confirme su Password" 
                                       required 
                                       ng-model="register.password-confirmation">
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

						<div class="form-group">
	                        <label class="control-label col-md-4">G&eacute;nero</label>
	                        <div class="col-md-6">
	                            <input type="checkbox" 
	                                   class="make-switch switch-large"
	                                   name="gender"                                                                
	                                   id="gender" 
	                                   value="m"
	                                   data-on-text="<i class='fas fa-male fa-lg'></i>" 
	                                   data-on-color="primary" 
	                                   data-off-text="<i class='fas fa-female fa-lg'></i>" 
	                                   data-off-color="danger"
	                                   checked 
	                                   bs-switch
	                                   />
	                        </div>
	                    </div>

	                    <div class="form-group">
                            <label class="col-md-4 control-label">Seleccione el rol:</label>
                            <div class="col-md-6 inline-block">
                                <input id="roleTeacher" 
                                       type="radio" 
                                       class="form-control" 
                                       name="role" 
                                       value="Instructor"
                                       required 
                                       ng-model="register.role"> Instructor
                                <input id="roleStudent" 
                                       type="radio" 
                                       class="form-control" 
                                       name="role" 
                                       value="Alumno"
                                       required 
                                       ng-model="register.role"> Alumno
                                <span class="help-block with-errors"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2 text-right">
                                <button type="submit"
                                        class="btn btn-primary"
                                        ng-click="registerSend()">
                                    Registrar
                                </button>
                                <button class="btn btn-default"
                                        ng-click="loginView()">
                                    Volver
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="register.layout.footer"></div>